.listItem:last-child {
  margin-bottom: 0px;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr auto auto; 
  align-items: center;
  gap: 8px;
}

.listItem {
  margin-bottom: 10px;
}

.buttons {
  margin-left: 1rem;
}

.input {
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px ;
}

.buttonDelete {
  background-color: var(--warning);
}

.buttonDelete:hover {
  background-color: var(--error);
}

.checkbox {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
  background-color: var(--bg-primary);
  cursor: pointer
}

.checkbox:checked {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}

.checkbox:checked::before {
  content: "✓";
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
  color:var(--bg-primary) ;
  font-size: 14px;
  font-weight: bold;
  top: 50%;
  left: 50%;
}
.checkbox:hover {
  border-color: #888;
}

.title {
  background-color: var(--bg-primary);
  border-radius: 5px;
  padding: 5px 0 5px 10px;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 2px 2px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 2px 2px 0px rgba(34, 60, 80, 0.2);
  font-size: 1.17em;        
  font-weight: normal;

}