
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    /* Основная палитра */
    --primary: #3091ff;   
    --primary-hover: #065bbd;
    
    /* Фоны */
    --bg-primary: #d6e9ff;   
    --bg-secondary: #a1cdff; 
    --bg-tertiary: #FDE68A;  
    
    /* Текст */
    --text-primary: #78350F;   
    --text-secondary: #92400E;
    --text-muted: #B45309;     
    
    /* Границы */
    --border-light: #a1cdff;
    --border-medium: #FBBF24;
    
    /* Статусы */
    --success: #059669;  
    --warning: #DC2626;    
    --error: #B91C1C;      
    --info: #7C3AED;     
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


ul, ol {
  list-style: none;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

input, textarea, select {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  padding: 6px 8px;
}
input:focus, textarea:focus, select:focus {
  border-color: #888;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(600px, 90%);
  margin-inline: auto;
  padding: 20px;
  background-color: var(--bg-secondary);
}

* {
  transition: all 0.2s ease;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border-light);
}

button {
 border: 1px solid var(--border-light) ;
 border-radius: 5px;
background-color: var(--primary);
}

button:hover {
  background-color: var(--primary-hover);
}

